<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title")</title>
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
    <link rel="stylesheet" href="~/lib/toaster/toastr.min.css" />
</head>
<body>
    <div class="Menu">
        <div class="gerb"><img src="~/img/gerb.png" width="70" height="80"></div>
        <button>Викладач</button>
        <button onclick="location.href='@Url.Action("Course","Teacher")'">Курси</button>
        <button onclick="location.href='@Url.Action("Mark","Teacher")'">Оцінки</button>
        <button onclick="location.href='@Url.Action("Exit", "Teacher")'">Вихід</button>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>
</body>
</html>
