<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title")</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
</head>
<body>
    <div class="Menu">
        <div class="gerb"><img src="~/img/gerb.png" width="70" height="80"></div>
        <button class="Admin">Адміністратор</button>
        <button class="Teacher" onclick="location.href='@Url.Action("Teacher", "Admin")'">Викладач</button>
        <button class="Stud" onclick="location.href='@Url.Action("Student", "Admin")'">Студент</button>
        <button class="Groupe" onclick="location.href='@Url.Action("AcGroup", "Admin")'">Академічні групи</button>
        <button class="Exit" onclick="location.href='@Url.Action("Exit", "Admin")'">Вихід</button>

    </div>
    @RenderBody()

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
</body>
</html>
