@model List<Student_project.Model.Students>

@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@{
    Student_project.Repository.CDBContext db = new Student_project.Repository.CDBContext();
}

@section Title {
    Студенти
}

<div class="inform">

    <div class="new_student">
        <br>
        <h2>Внести студента</h2>
        <div class="text_inf">
            <p>ПІБ Студента:  </p>
            <p>Номер залікової книги:</p>
            <p>Факультет:  </p>
            <p>Кафедра: </p>
            <p>Напрям підготовки:  </p>
            <p>Группа:  </p>
        </div>

        <div class="input_inf">
            <input class="input_sur" type="text">
            <input class="input_num_book" type="text">

            <select class="input_faculty" id="faculty" name="Факультет">
                <option hidden selected> -- Виберіть факультет -- </option>
                @foreach (var item in db.Faculties.OrderBy(x => x.Title))
                {
                    <option>@item.Title</option>
                }
            </select>

            <select class="input_kafedra" id="kafedra" name="Кафедра">
                <option hidden selected> -- Виберіть кафедру -- </option>
                @foreach (var item in db.Departments.OrderBy(x => x.Title))
                {
                    <option>@item.Title</option>
                }
            </select>

            <input class="input_num_book" type="text">

            <select class="input_groupe" id="group" name="Група">
                <option hidden selected> -- Виберіть групу -- </option>
                @foreach (var item in db.Groups.OrderBy(x => x.GroupName))
                {
                    <option>@item.GroupName</option>
                }
            </select>

        </div>
        <button class="input">Внести дані</button>
        <br>
    </div>

    <div class="delete_student">
        <br>
        <h2>Видалити студента</h2>
        <div class="text_inf_del">
            <p>Факультет:  </p>
            <p>Кафедра:  </p>
            <p>Группа:  </p>
            <p>ПІБ Студента:  </p>
        </div>

        <div class="input_inf_del">

            <select class="del_faculty" name="Факультет">
                <option hidden selected> -- Виберіть факультет -- </option>
                @foreach (var item in db.Faculties.OrderBy(x => x.Title))
                {
                    <option>@item.Title</option>
                }
            </select>
            <select class="input_kafedra" id="kafedra" name="Кафедра">
                <option hidden selected> -- Виберіть кафедру -- </option>
                @foreach (var item in db.Departments.OrderBy(x => x.Title))
                {
                    <option>@item.Title</option>
                }
            </select>
            <select class="del_groupe" name="Група">
                <option hidden selected> -- Виберіть групу -- </option>
                @foreach (var item in db.Groups.OrderBy(x => x.GroupName))
                {
                    <option>@item.GroupName</option>
                }
            </select>
            <select class="del_stud" name="Студент">
                <option hidden selected> -- Виберіть студента -- </option>
                @foreach (var item in db.Students.OrderBy(x => x.LastName))
                {
                    <option>@item.LastName @item.FirstName @item.MiddleName</option>
                }
            </select>
        </div>
        <button class="delete">Видалити дані</button>
        <br>
    </div>
</div>