@model List<Student_project.Model.Teachers>;
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

@section Title {
    Викладачи
}

<div class="inform">

    <div class="new_teacher">
        <br>
        <h2>Внести викладача</h2>
        <div class="text_inf">
            <p>ПІБ Викладача:  </p>
            <p>Факультет:  </p>
            <p>Кафедра: </p>
            <p>Вчена ступінь:  </p>
            <p>Електронна пошта:  </p>
            <p>Пароль</p>
        </div>

        <div class="input_inf">
            <input class="input_sur" type="text">

            <select class="input_faculty" name="Факультет">
                @foreach (var item in Model.Select(x=>x.Departments.Faculties).OrderBy(x => x.Title).Distinct())
                {
                    <option>@item.Title</option>
                }
            </select>

            <select class="input_kafedra" name="Кафедра">
                @foreach (var item in Model.Select(x => x.Departments).OrderBy(x => x.Title).Distinct())
                {
                    <option>@item.Title</option>
                }
            </select>

            <select class="input_academic_degree" name="Ступінь">
                <option>Асистент</option>
                <option>Доцент</option>
                <option>Завідувач кафедри</option>
                <option>Професор</option>
            </select>

            <input class="input_email" type="text">
            <input class="input_password" type="text">
        </div>
        <button class="input">Внести дані</button>
        <br>
    </div>

    <div class="delete_teacher">
        <br>
        <h2>Видалити викладача</h2>
        <div class="text_inf_del">
            <p>Факультет:  </p>
            <p>Кафедра:  </p>
            <p>ПІБ Викладача:  </p>
        </div>

        <div class="input_inf_del">

            <select class="del_faculty" name="Факультет">
                @foreach (var item in Model.Select(x => x.Departments.Faculties).OrderBy(x => x.Title).Distinct())
                {
                    <option>@item.Title</option>
                }
            </select>

            <select class="del_kafedra" name="Кафедра">
                @foreach (var item in Model.Select(x => x.Departments).OrderBy(x => x.Title).Distinct())
                {
                    <option>@item.Title</option>
                }
            </select>
            <select class="del_teach" name="Викладач">
                @foreach (var item in Model.OrderBy(x=>x.LastName).ThenBy(x=>x.FirstName).ThenBy(x=>x.MiddleName).Distinct())
                {
                    <option>@item.LastName @item.FirstName @item.MiddleName</option>
                }
            </select>
        </div>
        <button class="delete">Видалити дані</button>
        <br>
    </div>
</div>