<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title")</title>
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
</head>
<body>
    <div class="Menu">
        <div class="gerb"><img src="~/img/gerb.png" width="70" height="80"></div>
        <button class="full_name" onclick="location.href='@Url.Action("Index", "Home")'">@RenderSection("Name")</button>
        <button class="Exit" onclick="location.href='@Url.Action("Exit", "Home")'">Вихід</button>
        <button class="Exit" onclick="location.href='@Url.Action("Marks", "Home")'">Семістрові бали</button>
        <div class="Title_1">Кабінет Студента</div>
    </div>
    @RenderBody()
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>
