@model Student_project.Model.Students

@{
    Layout = "~/Views/Home/_Layout.cshtml";
    Student_project.Repository.CDBContext db = new Student_project.Repository.CDBContext();
    var avgmark = db.Marks.Where(x => x.StudentId == Model.ID).Sum(x=>x.Mark) / db.Marks.Count(x => x.StudentId == Model.ID);
}

@section Name {
    @Model.LastName @Model.FirstName @Model.MiddleName
}

@section Title {
    Загальна інформація
}
<div class="private_inform">
    <br>
    <h2 class="title_inf">Загальна інформація</h2>
    <p>Львівський національний університет імені Івана Франка</p>
    <p>Факультет <strong>@Model.Groups.Departments.Faculty</strong></p>
    <p>Кафедра <strong>@Model.Groups.Department</strong></p>
    <p>Группа <strong>@Model.Group</strong></p>
    <p>Середній бал <strong>@avgmark</strong></p>
    <br>
</div>