@model IEnumerable<Student_project.Model.Marks>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Семістрові бали</title>
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
    <meta charset="utf-8">
</head>
<body>
    <div class="Menu">
        <div class="gerb"><img src="~/img/gerb.png" width="70" height="80"></div>
        <button class="full_name" onclick="location.href='@Url.Action("Index", "Home")'">@Model.First().Students.LastName @Model.First().Students.FirstName @Model.First().Students.MiddleName</button>
        <button class="Exit" onclick="location.href='@Url.Action("Exit", "Home")'">Вихід</button>
        <button class="Exit" onclick="location.href='@Url.Action("Marks", "Home")'">Семістрові бали</button>
        <button class="Exit" onclick="location.href='@Url.Action("Statistics", "Home")'">Статистика оцінок</button>
        @*<nav class="one">

            <ul class="topmenu">

                <li>
                    <button class="button_1" href="#">Навчання студента</button>
                    <ul class="submenu">
                        <li><button class="button_1_0">Семестрові бали</button></li>
                        <li><button class="button_1_1">Item 2</button></li>
                    </ul>
                </li>

            </ul>
        </nav>*@

        <div class="Title_1">Кабінет Студента</div>

    </div>
    @*<div class="middle_inform">
        <br>
        <h2>Статистика оцінок</h2>
        <p>Середній бал студента за весь період - <strong>57,33 / 3,23</strong></p>
        <p>
            Розподіл оцінок за: <br />національною шкалою:
            відмінно <strong>0</strong>%,
            добре <strong>19</strong>%,
            задовільно <strong>81</strong>%;
            <br />шкалою ECTS:
            А <strong>0</strong>%,
            В <strong>0</strong>%,
            С <strong>19</strong>%,
            D <strong>9,5</strong>%,
            Е <strong>71,4</strong>%.
        </p>
        <br>
    </div>*@

    <div class="marks_inform">
        <br>
        <h2>Семестрові бали</h2>
        <table>
            <tr>
                <th>Дисципліна</th>
                <th>Години</th>
                <th>Викладач</th>
                <th>Бал</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Exams.Subject</td>
                    <td>@item.Exams.Subjects.Hours</td>
                    <td>@item.Exams.Teachers.LastName @item.Exams.Teachers.FirstName.Substring(0, 1). @item.Exams.Teachers.MiddleName.Substring(0, 1).</td>
                    <td>@item.Mark</td>
                </tr>
            }
        </table>
        <br>
    </div>
</body>
</html>