@model List<Student_project.Model.Marks>
@{
    Layout = "~/Views/Home/_Layout.cshtml";
}
@{
    int count = Model.Count();
    double avgMark100 = Model.Sum(x => x.Mark) / count;
    double countAMark = (Model.Count(x => x.Mark >= 90) * 100) / count;
    double countBCMark = (Model.Count(x => x.Mark >= 71 && x.Mark < 90) * 100) / count;
    double countDEMark = (Model.Count(x => x.Mark >= 51 && x.Mark < 71) * 100) / count;
    double countBMark = (Model.Count(x => x.Mark >= 81 && x.Mark < 90) * 100) / count;
    double countCMark = (Model.Count(x => x.Mark >= 71 && x.Mark < 81) * 100) / count;
    double countDMark = (Model.Count(x => x.Mark >= 61 && x.Mark < 71) * 100) / count;
    double countEMark = (Model.Count(x => x.Mark >= 51 && x.Mark < 61) * 100) / count;
}

@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

@section Name {
    @Model.First().Students.LastName @Model.First().Students.FirstName @Model.First().Students.MiddleName
}

@section Title {
    Оцінки
}
<div class="middle_inform">
    <br>
    <h2>Статистика оцінок</h2>
    <p>Середній бал студента за весь період - <strong>@avgMark100</strong>, середній бал группи студента - <strong>@ViewBag.GroupMark</strong></p>
    <p>
        Розподіл оцінок студента за: <br />національною шкалою:
        відмінно - <strong>@countAMark%</strong>,
        добре - <strong>@countBCMark%</strong>,
        задовільно - <strong>@countDEMark%</strong>;
        <br />шкалою ECTS:
        А - <strong>@countAMark%</strong>,
        В - <strong>@countBMark%</strong>,
        С - <strong>@countCMark%</strong>,
        D - <strong>@countDMark%</strong>,
        Е - <strong>@countEMark%</strong>.
    </p>
    <br>
</div>

<div class="marks_inform">
    <br>
    <h2>Семестрові бали</h2>
    <table>
        <tr>
            <th>Дисципліна</th>
            <th>Години</th>
            <th>Викладач</th>
            <th>Бал</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Exams.Subject</td>
                <td>@Model[i].Exams.Subjects.Hours</td>
                <td>@Model[i].Exams.Teachers.LastName @Model[i].Exams.Teachers.FirstName.Substring(0, 1). @Model[i].Exams.Teachers.MiddleName.Substring(0, 1).</td>
                <td>@Model[i].Mark</td>
            </tr>
        }
    </table>
    <br>
</div>